/*
Extranet Palaven main theme (Halloween edition)

Based on Flat, Dark and Colourful (https://userstyles.org/styles/140852/mastodon-flat-dark-and-colourful) by Diamand le Fou
Itself based on KindlyFire personal theme (https://gist.github.com/KindlyFire/f54fbf7fc343bfca1595df2f59e362bb)

Heavily modified and fixed by Vetra Nyx (@Vetra@extranet.palaven.space)

Last update: 26 october 2018


DISCLAIMER:
The theme might be pretty, but this place is a mess.
Three people have worked on this file. And each one has added stuf when he or she needed it. This file is not optimised nor pretty to look at.
The initial creator didn't comment anything, the second one added french comments (they're still there, untranslated), and I added one or two comments in English, but that's it.
Who knows. Maybe one day I'll clean it? /s

If you are here to change the main color, use a decent text editor, and use the Find and replace tool. That'll be easier for you.


Colors codes for the ORANGE theme:
Main:       #f98f5b
Secondary:  #ff8143
  
Fleet emblem link: https://i.postimg.cc/1zwfsjys/pumpkinsmall.png
*/

/*Toot Button, desktop and mobile*/
.button,
.floating-action-button {
  background-color: #f98f5b;
  color: #fff;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #ff8143;
}
.button:disabled {
  visibility: hidden;
}
.loading-bar {
  background-color: #f98f5b;
}
.ui {
  background-color: #223;
}
.drawer .drawer__header, .column-header, .column-icon {
  background-color: #223;
}
.focusable:focus {
  background-color: #223;
}
body, .landing-page__information, .landing-page__call-to-action, .landing-page__forms {    
  background-color: #223;
  box-shadow: none;
}
.landing-page li a, .landing-page p a {
  color: #f98f5b;
  opacity: 0.7;
}
..landing-page__mascot img {
  content: url("https://i.postimg.cc/1zwfsjys/pumpkinsmall.png");
  filter: contrast(50%) brightness(50%);
}
.column-icon {
  color: #eee;
  transition: all 200ms;
}
.column-icon:hover {
  color: #fff;
}
.column-icon.collapsable {
  background-color: #f98f5b;
  color: #fff;
  font-size: 20px !important;
  padding-bottom: 13px !important;
}
.column-settings--outer, .column-header__button, .column-header__button.active, .column-settings--section, .setting-toggle {
  background-color: #1E1E2D;
  color: #fff;
}
.setting-text,
.setting-text:hover,
.setting-text:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.react-toggle--checked .react-toggle-track, .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {",
  background-color: #223;
}
.react-toggle--checked .react-toggle-thumb {
  border-color: #223;
}

.drawer .drawer__header .drawer__tab {
  color: #f98f5b;
}
.drawer .drawer__header a:hover {
  background-color: #223;
  color: #ff8143;
}

.search__input {
  background-color: #223;
  transition: all 200ms;
  color: #fff;
}
/*Changed Elephant with Turian Fleet emblem*/
.drawer__inner {
  background-color: #223;
}
.drawer__inner__mastodon {  
  background: none;
  background-color: #223;
}
.drawer__inner__mastodon img {
  content: url("https://i.postimg.cc/1zwfsjys/pumpkinsmall.png");
  filter: contrast(50%) brightness(50%);
}
/*Clunky fix for Firefox*/
@supports (-moz-appearance:none) {
   .drawer__inner__mastodon img {
       background: url(https://i.postimg.cc/1zwfsjys/pumpkinsmall.png) bottom no-repeat; /* <--- */
       width: 0; /* <--- */
       padding: 0 50%;
       filter: contrast(50%) brightness(50%);
    }
}
.navigation-bar {
  color: #eee;
}
.navigation-bar strong {
  font-size: 14px;
  margin-top: 2px;
}

.search-results__header {
  background-color: #223;
  color: #eee;
  text-transform: capitalize;
}
.drawer__inner.darker {
  background-color: #223;
}
.account__display-name {
  outline: none;
}
.display-name span {
  color: #ddd;
}
.icon-button:hover,
.icon-button:focus,
.icon-button:active,
.icon-button.active {
  color: #fff
}

.status__prepend,
.status,
.detailed-status,
.column>.scrollable {
  background-color: #223;
  color: #fff;
  border-bottom: 0;
}
.notification__message {
  color: #ccc;
}

.status .status__relative-time {
  color: #ccc;
}

.status__content a .fa,
.status__content a .fa:hover {
  color: #f98f5b;
}
.attachment-list__list a {
  color: #f98f5b;
  opacity: 0.5;
}
.fa-chain:before, .fa-link:before {
  color: #f98f5b;
  opacity: 0.7;
}
.status__content a,
.reply-indicator__content a,
.muted .status__content a,
.account__header .account__header__username {
  color: #f98f5b;  
  transition: color .1s ease-in;
}
.account__header .account__header__username:hover {
  color: #fff;
  transition: color .1s ease-in;
}
.status__content__spoiler-link {
  color: #f98f5b;
}
.status__content .status__content__spoiler-link:hover {
    background: #313542;
}
.getting-started {
  background: #223;
}
.getting-started__footer a {
  color: #f98f5b;
  opacity: 0.7;
}
.muted .status__display-name strong {
  color: #ccc;
}

.status__prepend .status__display-name strong {
  color: #fff;
  outline: none;
}

.muted .status__content p {
  color: #ccc;
}

.column-link, .column {
  background-color: #223; 
}

.account__action-bar,
.account__action-bar__tab,
.detailed-status__action-bar {
  border: 0;
  background: #223;
}

.account {
  border-bottom: 0;
}

.column-back-button {
  background-color: #223;
  color: #fff;
}

.status__content .status__content__spoiler-link, .reply-indicator__content .status__content__spoiler-link {
  background: #29293d;"
}
.status.status-direct {
  background: #2d2a38;
}
.autosuggest-textarea__suggestions {
 background: #fff;
}
.autosuggest-textarea__suggestions__item:hover {
  background: #f98f5b;
color: #fff;
}
.autosuggest-textarea__suggestions__item.selected {
  background: #f98f5b;
  color: #fff;
}
.reply-indicator {
  background: #29293d;
}
.reply-indicator__content {
color: #fff
}
.reply-indicator .reply-indicator__display-name {
  color: #fff
}
.search__icon .fa {
color: #;
}",
.detailed-status {
background: #223;
}
.account__header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #223;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.account__header>div {
background: linear-gradient( to bottom, rgba(34, 34, 51, 0.10), #223);
}
.compose-form .compose-form__buttons-wrapper {
  background: #313543;
}
.icon-button.inverted, .text-icon-button, .compose-form .compose-form__buttons-wrapper .character-counter__wrapper .character-counter {
  color: #fff /*Bouton photo + confiendalité */
}
.icon-button.inverted.active {
  color: #ff8143 /* Couleur des icones quand tu appuies dessus */
}

.icon-button.inverted:hover, .icon-button.inverted:active, .icon-button.inverted:focus {
  color: #ff8143 /* Couleur quand tu passes la souris sur les icones */
}
/*CW button*/
.text-icon-button.active {
  color: #ff8143;
}
.text-icon-button:hover {
  color: #ff8143;
}
/*.compose-form__buttons {
  background: #29293d;  
} */
.privacy-dropdown.active .privacy-dropdown__value.active {
    background-color: #f98f5b; /*Privacy button background when activated*/
}
.compose-form .compose-form__warning {
background: #1E1E2D;
color: #fff;
}
.privacy-dropdown__option.active {
background: #f98f5b;
}
.privacy-dropdown__option:hover {
background: #f98f5b;
}
.privacy-dropdown__option.active:hover {
background: #f98f5b;
}
.actions-modal ul li:not(:empty) a.active, .actions-modal ul li:not(:empty) a.active button {
background: #f98f5b;
}
.column-header__button{
  background: #223;
  color: #fff;
}
.column-header__collapsible-inner {
  background: #1E1E2D;
  color: #fff !important;
}
.column-settings__section {
  color: #fff;
}
.setting-meta__label, .setting-toggle__label{
  color: #fff;
}
.column-subheading{
  background: #223;
}
button.active .fa-retweet:after {
  color: #f98f5b;
  content: "\f079";
}
button.icon-button.active i.fa-retweet {
  background-image: none;
}
.active .fa-star:before,
.fa.fa-fw.fa-star.star-icon:before {
  content: "\f005";
  color: #f5b12e;
}
.fa-star::before {
content: "\f006";
}
.detailed-status__link .fa-star::before, .column-link__icon.fa-star::before {
content: "\f005";
}


.fa-globe:before {
  content: "\f135";
}

.icon-button:hover, .icon-button:focus, .icon-button:active, con-button.active, .fa.fa-fw.fa-user-times {
  color: #f98f5b;
}
.column-header__back-button {
  background: #223;
  color: #fff;
}
.column-header__back-button:hover {
  color: #fff;
}
.column-header>.column-header__back-button {
  color: #fff;
}
.button {
box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  transition: box-shadow 0.1s ease-in-out;
transition: transform 0.1s ease-in-out
}
.button:hover {
box-shadow: 0px 7px 15px rgba(0,0,0,0.5);
transform: scale(1.05);
}
.button:focus,
.button:active,
.button:disabled {
box-shadow: 0px 2px 3px rgba(0,0,0,0.7);
transform: scale(0.93);
}


/*Wider columns, with a bit of responsiveness*/
body.app-body .column, body.app-body .column__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;    
  min-width: 330px;
  max-width: 400px;

}
.tabs-bar__link.active {
  border-bottom: 2px solid #f98f5b;
  color: #f98f5b;
}
.tabs-bar__link {
  border-bottom: transparent;
}
.tabs-bar {
  background: #223;
}

/*Remove that emojikipleur shit*/
.dropdown--active .emoji-button img, .emoji-button:active img, .emoji-button:focus img, .emoji-button:hover img {
  background: url(https://i.postimg.cc/TY6KBbs5/blobpopcornsmall.png) center no-repeat; /* <--- */
  width: 0; /* <--- */
  padding: 0 50%;
}
.emoji-button img {
  background: url(https://i.postimg.cc/TY6KBbs5/blobpopcornsmall.png) center no-repeat; /* <--- */
  width: 0; /* <--- */
  padding: 0 50%;
}
.emoji-mart-anchor-selected:hover, .emoji-mart-anchor-selected {
  color: #f98f5b;
}
.emoji-mart-anchor-bar {
background-color: #f98f5b;
}

/* Landing page and Settings menu */
body, .landing-page__information, .landing-page__call-to-action, .landing-page__forms ,.dashboard__counters>div>a, .dashboard__counters>div>div {    
  background-color: #223;
  box-shadow: none;
}
.landing-page li a, .landing-page p a {
  color: #f98f5b;
  opacity: 0.7;
}
.landing-page__mascot img {
  content: url("https://i.postimg.cc/1zwfsjys/pumpkinsmall.png");
  filter: contrast(70%) brightness(70%);
}
.landing-page #mastodon-timeline p a, .simple_form p.hint.subtle-hint a {
  color: #f98f5b;
  opacity: 1.0;
}
.button.button-alternative {
  background-color: #f98f5b;
  color: #fff;
  opacity: 0.7;
}
.button.button-alternative:hover,
.button.button-alternative:focus,
.button.button-alternative:active,
.button.button-alternative:disabled {
  background-color: #ff8143;
  opacity: 0.7;
}
.landing-page .features-list .features-list__row .text, .landing-page li, .landing-page p, .landing-page .features-list .features-list__row .visual .fa {
  color: #fff;
}
.simple_form .block-button, .simple_form .button, .simple_form button {
  background-color: #f98f5b;
  color: #fff;
}
.simple_form .block-button:hover, .simple_form .button:hover, .simple_form button:hover {
  background-color: #f98f5b;
}
.flash-message {    
  background-color: #313543;

}
.admin-wrapper .sidebar-wrapper, .admin-wrapper .content-wrapper {
  background-color: #223;
}
.admin-wrapper .sidebar ul ul a.selected {
  background-color: #f98f5b;
}
.admin-wrapper .sidebar ul ul a.selected:hover {
  background-color: #ff8143;
}
.admin-wrapper .sidebar .logo {
  content: url("https://i.postimg.cc/1zwfsjys/pumpkinsmall.png");
  filter: contrast(70%) brightness(70%);
  width: auto;
  height: 100px;
}
.simple_form span.hint {
  color: #fff;
  opacity: 0.7;
}
.admin-wrapper .sidebar ul a {
  color: #fff;
}
.filters .filter-subset a.selected {
  color: #f98f5b;
  border-bottom: 2px solid #f98f5b;
}
.box-widget, .contact-widget, .landing-page__information.contact-widget {
  background-color: #223;
  box-shadow: none;
}
.rich-formating h3 {
  color: #fff;
}
.rich-formatting li, .rich-formatting p {
  color: #bcbcc1;
}
.rich-formatting li a, .rich-formatting p a {
  color: #f98f5b;
}

/*Profile elements*/
.public-layout .container, .activity-stream .entry, .account__section-headline {
  background: #223;
}
.account__header__fields, .account__header__fields dl, .account__section-headline {
  border-bottom: none;
}
.public-layout .public-account-bio, .account__header__fields dd, .account__header__fields dt, .hero-widget__text {
  background: #29293d;
}
.button.logo-button {
  background-color: #f98f5b;
  color: #fff;
}
.button.logo-button svg path:last-child {
  fill:#f98f5b;
}
.button.logo-button:hover, {
  background-color: #ff8143;
}
.public-layout .public-account-header__tabs__tabs .counter {
  border-right: none;
}
.public-layout .public-account-header__tabs__tabs .counter.active:after {
    border-bottom: 4px solid #ff8143;
}
.public-layout .header {
  background: #223;
}
.public-layout .header .nav-button, .public-layout .header .nav-button {
  background: #29293d;
}
.public-layout .public-account-header__bar .avatar img {
  border: none;
  background: none;
}

.modal-layout {
  background: #223;
}
.modal-layout__mastodon>* {
  background: url(https://i.postimg.cc/1zwfsjys/pumpkinsmall.png) no-repeat 0 100%/contain;  
  filter: contrast(70%) brightness(70%);
}

.status__wrapper--filtered {
  border-bottom: none;
}